<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Inputs">
        <app-input></app-input>
    </mat-tab>
    <mat-tab label="EventEmitter">
        <app-event></app-event>
    </mat-tab>
    <mat-tab label="clientList">
        <app-client-list></app-client-list>
    </mat-tab>
    <mat-tab label="TemplateVariable">
        <app-template-variable></app-template-variable>
    </mat-tab>
    <mat-tab label="onChanges">
        <app-on-changes></app-on-changes>
    </mat-tab>
</mat-tab-group>
